GITHUB_REPO_DIR="../web"
GITHUB_BRANCH="main"
# HTTPS con token (fine-grained) o SSH. Ejemplos:
# GITHUB_REMOTE_URL="https://<TOKEN>@github.com/<usuario>/<repo>.git"
# GITHUB_REMOTE_URL="git@github.com:<usuario>/<repo>.git"
GITHUB_REMOTE_URL=""
GITHUB_COMMIT_PREFIX="chore(news): snapshot"
